.menu {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    background-color: #ccc;
    list-style-type: none;
    padding: 20px;
    margin-top: 0px;
    text-decoration: none;
    padding-left: 800px;
    z-index: 1;
}

.link:global(.active){
    color: white;
    font-weight: 500;
    text-decoration: none;
    
}
.link {
    color: white;
    padding-left: 40px;
    font-weight: 300;
    font-size: 24px;
    margin-left: -110px;
    text-decoration: none;
    z-index: 2;
    position: absolute;
}

.button{
    width: 50px;
    height: 50px;
    color: gray;
    border-radius: 10px;
    z-index: 2;
    left: 10px;
    top: 5px;
    position: absolute;
}

.logo{
    z-index: 2;
    position: absolute;
    left: 32px;
    top: 24px;
}